[Unit]
Description=Birdc Proxy for Looking Glass
After=network-online.target bird.service
Wants=network-online.target bird.service

[Service]
User=bird
Group=bird
AmbientCapabilities=CAP_NET_RAW
Environment=BIRD_SOCKET=/var/run/bird/bird.ctl
Environment=BIRDLG_LISTEN=172.20.128.197:4242
Environment=BIRDLG_TEMPLATES=peers
Environment=BIRDLG_PEERING=peers/peering.json
Environment=GODEBUG=madvdontneed=1
WorkingDirectory=/etc/bird
ExecStart=/usr/local/sbin/bird-lg-proxy
Restart=on-failure
RestartSec=30s
StartLimitBurst=10
StartLimitIntervalSec=10m

[Install]
WantedBy=multi-user.target
